:root {
  /* Palette */
  --brand-accent-color: #2196f3;
  --brand-background: #2f303a;
  --second-background: #f5f4fa;
  /*    var(--second-background) is also for buttons */
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --contrast-text-color: #ffffff;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--title-text-color);
}

.logo-color {
  color: var(--brand-accent-color);
}

.link {
  text-decoration: none;
}

.link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: normal;
  color: #000000;
}

.link-logo:visited {
  color: #000000;
}
/* Site navigation */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation {
  line-height: normal;
  letter-spacing: 2%;
}

.nav-link {
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  line-height: normal;
  letter-spacing: 0.02rem;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brand-accent-color);
}

.site-navigation .nav-link.current {
  color: var(--brand-accent-color);
}

/* Меню контакты */
.navitaion-contact,
.address-list {
  list-style: none;
}

.contact-item {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

.contact-item:hover,
.contact-item:focus {
  color: var(--brand-accent-color);
}

.hero {
  color: var(--contrast-text-color);
  background-color: var(--brand-background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06rem;
  text-transform: uppercase;

  padding-top: 200px;
  padding-bottom: 280px;
  padding-left: 452px;
  padding-right: 452px;
  /* why right padding doesn't work */
}

.button {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 500;
}

.button.primary {
  background-color: var(--brand-accent-color);
  color: var(--contrast-text-color);
}

.particularities .title {
  display: none;
}

.item-title {
  font-weight: 700;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.item-text {
  letter-spacing: 0.03rem;
  color: var(--primary-text-color);
}

/* What we do */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: normal;
  letter-spacing: 0.03rem;
  color: var(--title-text-color);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 300px;

  text-align: center;
}

/* Team */

.team-section {
  background-color: var(--second-background);
}

.team-card {
  background-color: var(--contrast-text-color);
}

.team-name {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.03rem;
  color: var(--title-text-color);
}

.team-position {
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.03rem;
  color: var(--primary-text-color);
}

.footer {
  background-color: var(--brand-background);
  color: var(--contrast-text-color);
  letter-spacing: 0.03rem;

  padding-top: 30px;
  padding-left: 90px;
}

.logo-negative,
.logo-negative:visited {
  color: var(--contrast-text-color);
}

.address-negative {
  color: var(--contrast-text-color);
  letter-spacing: 0.03rem;
  font-style: normal;
}

.address-contact {
  color: var(--contrast-text-color);
  opacity: 60%;
}

/* Styles for portfolio.html */

.button-secondary {
  background-color: var(--second-background);
  color: var(--title-text-color);
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--brand-accent-color);
  color: var(--contrast-text-color);
}

.example-cards {
  background-color: var(--second-background);
}

.example-card {
  background-color: var(--contrast-text-color);
}

.example-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06rem;
  color: var(--title-text-color);
}

.example-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03rem;
  color: var(--primary-text-color);
}
